.chatContainer{
padding: 30px;
width: 100%;
height: max-content;
min-width: 100%;
display: flex;
flex-direction: column;
padding-bottom: 70px;
background-color: rgba(0, 0, 255, 0.112);
}
.local{
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  max-width: 80%;
  color:rgb(40, 40, 40);
  font-size: 17px;
  align-self: flex-start;
}
.remoto{
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(96, 253, 253);
  max-width: 80%;
  color:rgb(21, 19, 19);
  font-size: 17px;
  align-self: flex-end;
}

.inputContainer{
  background-color: ghostwhite;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

input{
  width: 100%;
}
